@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  height: 100%;
  margin: 0px;
  font-family: "Roboto", sans-serif;
  p {
    margin: 0px;
  }
}

$blueDark: #214165;
$blueMedium: #2e5a8b;
$blueNormal: #3b73b2;
$blueLight: #509cf1;

@import "./SensorIO";
@import "./LateralNav";
